/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
            @mixin btn-buy {
                background-position: -173/(237-783)*100% -264/(90-607)*100%;;
                width: px(237);
                height: px(90);
            }
            @mixin btn-download {
                background-position: 0 -170/(90-607)*100%;;
                width: px(315);
                height: px(90);
            }
            @mixin btn-goumai {
                background-position: -669/(113-783)*100% -94/(49-607)*100%;;
                width: px(113);
                height: px(49);
            }
            @mixin btn-niudan {
                background-position: -548/(235-783)*100% 0;
                width: px(235);
                height: px(90);
            }
            @mixin btn-pack {
                background-position: -319/(158-783)*100% -170/(57-607)*100%;;
                width: px(160);
                height: px(58);
            }
            @mixin dlg_sell {
                background-position: 0 0;
                width: px(544);
                height: px(85);
            }
            @mixin icon-canyu {
                background-position: 0 -89/(77-607)*100%;;
                width: px(410);
                height: px(77);
            }
            @mixin icon-glow {
                background-position: -548/(116-783)*100% -214/(116-607)*100%;;
                width: px(116);
                height: px(116);
            }
            @mixin icon-glow2 {
                background-position: 0 -491/(116-607)*100%;;
                width: px(116);
                height: px(116);
            }
            @mixin icon-glow3 {
                background-position: -548/(116-783)*100% -334/(116-607)*100%;;
                width: px(116);
                height: px(116);
            }
            @mixin icon-glow4 {
                background-position: -548/(117-783)*100% -94/(116-607)*100%;;
                width: px(117);
                height: px(116);
            }
            @mixin icon-laba {
                background-position: -669/(30-783)*100% -147/(21-607)*100%;;
                width: px(30);
                height: px(21);
            }
            @mixin icon-niubi {
                background-position: -668/(61-783)*100% -214/(70-607)*100%;;
                width: px(61);
                height: px(70);
            }
            @mixin icon-wenzi {
                background-position: -173/(261-783)*100% -358/(25-607)*100%;;
                width: px(261);
                height: px(25);
            }
            @mixin icon-yxdq {
                background-position: 0 -264/(169-607)*100%;;
                width: px(169);
                height: px(169);
            }
            @mixin navigation {
                background-position: 0 -437/(50-607)*100%;;
                width: px(482);
                height: px(50);
            }
        %spritesheet {
            background-image: url('../images/sprite.png');
            background-repeat: no-repeat;
            background-size: px(783) px(607);
        }


