@charset "utf-8";
$designWidth : 640;
@function px( $px ){
  @return $px*320/$designWidth/20 + rem;
}

@import "spriterem";

/* CSS reset */
body {
  background-color: #f4f4f4;
  position: relative;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*内外边距通常让各个浏览器样式的表现位置不同*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

a,a:active {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:active{
  opacity:.9;
}
/* 要注意表单元素并不继承父级 font 的问题 */
input, select, img {
  vertical-align: middle
}

input, select {
  outline: none
}

input, select, textarea {
  font-size: 100%;
}

ul, ol {
  list-style: none
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* 去除默认边框 */
fieldset, img {
  border: 0;
}

/*重排左对齐*/
caption, th {
  text-align: left;
}

/*清除浮动*/
.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
}

html, body {
  background: url(../images/body_bg.jpg) repeat;
  width: 100%;
  height: 100%;
}

.g-header {
  background: url(../images/head_bg_1.jpg) no-repeat center top;
  background-size: contain;
}

.m-header {
  background: url(../images/head_bg_2.jpg) no-repeat center px(226);
  background-size: contain;
  height: px(913);
  position: relative;
}

.m-header .canyu {
  position: absolute;
  width: px(239);
  height: px(49);
  border-radius: px(25);
  background: #6631bb;
  box-shadow: inset 0 0 px(5) px(1) #350b7a;
  border: px(4) solid #8279f7;
  top: px(230);
  left: 50%;
  text-align: center;
  margin-left: px(-120);
  color: #f6c53c;
  font: px(22)/px(49) "Microsoft YaHei";

}

.m-header .headimg {
  position: absolute;
  top: px(275);
  right: px(24);
  border-radius: 50%;
  width: px(97);
  height: px(97);
}

.m-header .glass {
  background: url(../images/glass-bg.png) no-repeat;
  width: px(403);
  height: px(355);
  position: absolute;
  top: px(268);
  left: 50%;
  margin-left: px(-195);
  background-size: contain;
}

.m-header .ball {
  width: px(354);
  height: px(214);
  position: absolute;
  top: px(370);
  left: 50%;
  margin-left: px(-176);
  background: url(../images/ball.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: px(100);
  animation: ball 1s steps(1, start) infinite;
  -webkit-animation: ball 1s steps(1, start) infinite;
}

@keyframes ball {
  0% {
    background-position: 0 0;
  }
  16.7% {
    background-position: px(-362) 0;
  }
  33.3% {
    background-position: px(-724) 0;
  }
  50% {
    background-position: px(-1086) 0;
  }
  66.73% {
    background-position: px(-1448) 0;
  }
  83.43% {
    background-position: px(-1810) 0;
  }
}
@-webkit-keyframes ball {
  0% {
    background-position: 0 0;
  }
  16.7% {
    background-position: px(-362) 0;
  }
  33.3% {
    background-position: px(-724) 0;
  }
  50% {
    background-position: px(-1086) 0;
  }
  66.73% {
    background-position: px(-1448) 0;
  }
  83.43% {
    background-position: px(-1810) 0;
  }
}
.game-box {
  position: absolute;
  top: px(618);
  left: 50%;
  width: px(513);
  margin-left: px(-256);

  .boardcast {
    width: px(452);
    height: px(45);
    border-radius: px(8);
    background-color: #d73f16;
    margin: px(20) auto px(10);
    position: relative;
    overflow: hidden;
    .icon {
      display: block;
      position: absolute;
      left: px(15);
      top: px(12);
      @include icon-laba;
      @extend %spritesheet;
    }
  }
  .btn-yxdp {
    float: left;
    margin: px(5) px(12) 0 0;
    text-indent: px(-9999);
    @include icon-yxdq;
    @extend %spritesheet;
  }
  .btn-download {
    float: left;
    margin: px(5) 0 px(10) px(12);
    text-indent: px(-9999);
    @include btn-download;
    @extend %spritesheet;
  }
  .down-info {
    text-align: center;
    color: #fff;
    font: px(24)/1.5 "Microsoft YaHei";
  }
  .txt {
    color: #ffc8b5;
    font: px(22)/px(45) "Microsoft YaHei";
    text-align: center;
    span {
      color: #fff04d;
    }
  }
  .info {
    text-align: center;
    color: #ffc8b5;
    font: px(20)/1 "Microsoft YaHei";
  }
  .opt-btn {
    width: px(492);
    margin: px(10) auto;
    a {
      display: block;
      text-indent: px(-9999);
      float: left;
    }
  }
  .btn-niudan {
    @include btn-niudan;
    @extend %spritesheet;
    margin-right: px(20);
  }
  .btn-buy {
    @include btn-buy;
    @extend %spritesheet;
  }
  .game-info {
    width: px(492);
    margin: px(10) auto;
    .txt {
      color: #ffc8b5;
      font: px(22)/2 "Microsoft YaHei";
      text-align: center;
    }
    .navigation {
      position: absolute;
      @include navigation;
      @extend %spritesheet;
    }
  }
}

.g-libao {
  background: url(../images/libao_bg.png) no-repeat;
  width: px(549);
  height: px(580);
  background-size: contain;
  margin: px(10) auto;
  position: relative;
  .btn-pack {
    text-indent: px(-9999);
    display: block;
    position: absolute;
    right: px(28);
    top: px(80);
    @include btn-pack;
    @extend %spritesheet;
  }
  .libao-list {
    padding: px(156) 0 0 px(60);
    li {
      float: left;
      width: px(190);
      margin: 0 px(50) px(25) 0;
    }
    .libao-img {
      width: px(190);
      height: px(116);
      border-radius: px(8);
      background-color: #ed974d;
      box-shadow: inset 0 0 px(15) px(1) #c85018;
      overflow: hidden;
      img {
        display: block;
        width: px(110);
        height: px(90);
        margin: px(13) auto;
      }
    }
    .libao-txt {
      width: px(150);
      height: px(50);
      overflow: hidden;
      margin: px(6) auto 0;
      color: #a84001;
      text-align: center;
      font: px(22)/1.2 "Microsoft YaHei";
      span {
        display: inline;
        color: #fff583;
      }
    }

  }
}

.g-changke {
  background: url(../images/changke_bg.png) no-repeat;
  width: px(548);
  height: px(717);
  background-size: contain;
  margin: px(10) auto;
  .changke-list {
    padding: px(100) 0 0 px(48);
    li {
      float: left;
      width: px(126);
      margin: 0 px(35) px(30) 0;
    }
    img {
      width: px(126);
      height: px(126);
      border-radius: 50%;
    }
    .txt {
      text-align: center;
      color: #a84001;
      font: px(22)/1.5 "Microsoft YaHei";
      width: px(126);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top:px(6);
    }
  }
}

.g-guize {
  background: url(../images/guize_bg.png) no-repeat;
  height: px(427);
  width: px(548);
  background-size: contain;
  margin: px(10) auto;
  .guize-list {
    padding: px(90) 0 0 px(90);
    width: px(420);
    counter-reset: sectioncounter;
    li {
      color: #a84001;
      font: px(24)/1.5 "Microsoft YaHei";
      position: relative;
      &:before {
        content: counter(sectioncounter);
        counter-increment: sectioncounter;
        display: block;
        border-radius: 50%;
        width: px(30);
        height: px(30);
        background-color: #fa592e;
        color: #fff;
        font: px(24)/px(30) "Microsoft YaHei";
        text-align: center;
        position: absolute;
        left: px(-40);
        top: 0;
      }
    }
  }
}

.g-canyu {
  width: px(544);
  margin: px(30) auto 0;
  .icon-canyu {
    margin: 0 auto;
    @include icon-canyu;
    @extend %spritesheet;
  }
  .step {
    width: px(544);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: px(25);
    overflow: hidden;
  }
  .step1 {
    background-image: url(../images/step1.png);
    height: px(499);
  }
  .step2 {
    background-image: url(../images/step2.png);
    height: px(774);
  }
  .step3 {
    background-image: url(../images/step3.png);
    height: px(774);
  }
}

.g-footer {
  color: #4363a5;
  font: px(20)/1.5 "Microsoft YaHei";
  text-align: center;
  .icon {
    display: block;
    margin: px(40) auto px(10);
    @include icon-wenzi;
    @extend %spritesheet;
  }
}

.dlg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.dlg .mask {
  background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.dlg-sell {
  .dlg-content {
    width: px(544);
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: px(-272);
    background: -webkit-gradient(linear,50% 0,50% 100%,from(#fd6f3e),to(#ea4a1f));
  }
  .dlg-header {
    @include dlg_sell;
    @extend %spritesheet;
  }
  .tip {
    color: #ffc8b5;
    font: px(22)/1.5 "Microsoft YaHei";
    text-align: center;
  }
  .niubi-list {
    width:px(493);
    height:px(137);
    margin:px(20) auto;
    background-color: #333935;
    border-radius: px(12);
    border: px(2) solid #dccec4;
    box-shadow: 0 0 0 px(4) #333935 ,0 px(-5) 0 px(5) #0b0d0a;
    .h-img{
      position: relative;
      i{
        display: block;
        position: absolute;
      }
      .num{
        color: #df4d1e;
        font:px(32)/1.5 "Microsoft YaHei";
      }
    }
    .icon-niubi{
      @include icon-niubi;
      @extend %spritesheet;
    }
    .icon-glow{
      @include icon-glow;
      @extend %spritesheet;
    }
    .txt{
      color: #004891;
      font:px(20)/px(31) "Microsoft YaHei";
      width:px(118);
      height:px(31);
      border-radius: px(15);
      background-color: #00a1fe;
    }
  }
}